@font-face {
  font-family: "din_next_w1gbold";
  src: url("fonts/dinnextw1g-bold-webfont.woff2") format("woff2"),
    url("fonts/dinnextw1g-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "din_next_w1glight";
  src: url("fonts/dinnextw1g-light-webfont.woff2") format("woff2"),
    url("fonts/dinnextw1g-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "din_next_w1gmedium";
  src: url("fonts/dinnextw1g-medium-webfont.woff2") format("woff2"),
    url("fonts/dinnextw1g-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "din_next_w1gregular";
  src: url("fonts/dinnextw1g-regular-webfont.woff2") format("woff2"),
    url("fonts/dinnextw1g-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* CONTENT RESET */
body,
html {
  background-color: #f4f4f2 !important;
  font-size: 14px !important;
  line-height: 1.75 !important;
  font-style: normal !important;
  font-weight: normal !important;
  visibility: visible;
  font-family: "din_next_w1gregular" !important;
  color: #161541;
  position: relative;
  margin: 0;
  height: 100%;
}
.ant-layout {
  background-color: #f4f4f2 !important;
}
.container {
  max-width: 1320px;
  margin: auto;
  width: 100%;
  padding: 0 20px;
}
@media (max-width: 1199.98px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
}
.title-mb-0,
.p-mb-0 {
  margin-bottom: 0;
}
.title {
  color: #161541;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.mb-15 {
  margin-bottom: 15px;
}
.ant-layout-header {
  background: #ffffff !important;
  padding-inline: 0;
}
.main {
  min-height: calc(100vh - 66px - 64px);
}
@media (min-width: 767px) {
  .content-main {
    padding: 0 0 0 15px;
  }
}
/* MENU */
.ant-layout .ant-layout-header {
  padding-inline: 0 !important;
  background: transparent !important;
}
.menu-con .wrap-menu > .ant-menu {
  border: 0 !important;
  height: 45px;
}
.menu-con .ant-menu-item,
.menu-con .ant-menu-submenu-title {
  line-height: 45px !important;
}
.menubar {
  overflow: hidden;
  display: flex;
  margin-top: 20px;
}
.logo {
  margin-right: 20px;
  height: 45px;
  width: 45px;
  line-height: 0;
}
.menu-con {
  display: flex;
  justify-content: space-between;
  background: #fafafa;
  /* border-width: 1px;
  border-color: rgba(155, 121, 41, 0.2);
  border-style: solid; */
  -webkit-box-shadow: 0px 0px 5px 1px rgba(235, 235, 235, 1);
  -moz-box-shadow: 0px 0px 5px 1px rgba(235, 235, 235, 1);
  box-shadow: 0px 0px 5px 1px rgba(235, 235, 235, 1);
  border-radius: 8px;
  width: 100%;
}
.left-menu {
  flex: auto;
}
.right-menu {
  text-align: right;
  margin-left: auto !important;
  min-width: 120px;
}
.mobile-menu-drawer {
  display: none;
}
.ant-drawer-body .ant-menu-horizontal {
  border-bottom: none;
}
.ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover {
  border-bottom-color: transparent;
}
.ant-menu-light {
  background-color: transparent !important;
}

@media (max-width: 767px) {
  .menu-con {
    background: transparent !important;
    justify-content: end;
  }
  .mobile-menu-drawer {
    display: inline-block;
    height: 45px;
    margin-top: 1px;
  }
  .left-menu,
  .right-menu {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
}

/* SIDER */
.ant-layout .ant-layout-sider {
  background: #fafafa;
  border-radius: 8px;
}

/* FOOTER */
.ant-layout .ant-layout-footer {
  padding: 0 !important;
  background: transparent !important;
}
.ant-layout .ant-layout-footer .container .ant-row {
  background: #fafafa;
  /* border-width: 1px;
  border-color: rgba(155, 121, 41, 0.2);
  border-style: solid; */
  -webkit-box-shadow: 0px 0px 5px 1px rgba(235, 235, 235, 1);
  -moz-box-shadow: 0px 0px 5px 1px rgba(235, 235, 235, 1);
  box-shadow: 0px 0px 5px 1px rgba(235, 235, 235, 1);
  margin-top: 20px;
  margin-bottom: 15px;
  border-radius: 8px;
}
.footer-right > .ant-menu {
  justify-content: end;
}

/* CONTENT */
.box {
  /* border-width: 1px;
  border-color: rgba(155, 121, 41, 0.2);
  border-style: solid; */
  -webkit-box-shadow: 0px 0px 5px 1px rgba(235, 235, 235, 1);
  -moz-box-shadow: 0px 0px 5px 1px rgba(235, 235, 235, 1);
  box-shadow: 0px 0px 5px 1px rgba(235, 235, 235, 1);
  background-color: #fafafa;
  border-radius: 8px;
  padding: 15px;
}
