@font-face {
  font-family: "din_next_w1gbold";
  src: url("fonts/dinnextw1g-bold-webfont.woff2") format("woff2"),
    url("fonts/dinnextw1g-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "din_next_w1glight";
  src: url("fonts/dinnextw1g-light-webfont.woff2") format("woff2"),
    url("fonts/dinnextw1g-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "din_next_w1gmedium";
  src: url("fonts/dinnextw1g-medium-webfont.woff2") format("woff2"),
    url("fonts/dinnextw1g-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "din_next_w1gregular";
  src: url("fonts/dinnextw1g-regular-webfont.woff2") format("woff2"),
    url("fonts/dinnextw1g-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* CONTENT RESET */
body,
html {
  background-color: #d4bdae !important;
  font-size: 14px !important;
  line-height: 1.75 !important;
  font-style: normal !important;
  font-weight: normal !important;
  visibility: visible;
  font-family: "din_next_w1gregular" !important;
  color: #666666;
  position: relative;
  margin: 0;
  height: 100%;
}

.ant-layout {
  background-color: #d4bdae !important;
}
.ant-input-affix-wrapper {
  border-radius: 30px !important;
}
.container {
  max-width: 1320px;
  margin: auto;
  width: 100%;
}
@media (max-width: 1199.98px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
}
.ant-layout-header {
  background: #ffffff !important;
  padding-inline: 0;
}

.main {
  min-height: calc(100vh - 66px - 64px);
}
.content-main {
  padding: 0 0 0 10px;
}

/* MENU */
.ant-layout .ant-layout-header {
  padding-inline: 0 !important;
  background: transparent !important;
}
.menuCon .wrapMenu > .ant-menu {
  border: 0 !important;
  height: 45px;
}
.menuCon .ant-menu-item,
.menuCon .ant-menu-submenu-title {
  line-height: 45px !important;
}
.menuBar {
  overflow: hidden;
}

.logo {
  float: left;
  text-align: center;
  margin-right: 10px;
}
.menuCon {
  display: flex;
  justify-content: space-between;
  background: #fafafa;
  margin-top: 10px;
  border-radius: 8px;
}
.leftMenu {
  flex: auto;
}
.rightMenu {
  text-align: right;
  margin-left: auto !important;
  min-width: 110px;
}
.barsMenu {
  float: right;
  height: 20px;
  padding: 20px;
  display: none;
  background: none;
  background: #ccc;
}

.ant-drawer-body .ant-menu-horizontal {
  border-bottom: none;
}

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover {
  border-bottom-color: transparent;
}

.ant-menu-light {
  background-color: transparent !important;
}

@media (max-width: 768px) {
  .barsMenu {
    display: inline-block;
  }

  .leftMenu,
  .rightMenu {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .logo a {
    margin-left: -20px;
  }

  .logo a {
    padding: 10px 20px;
  }
}
/* SIDER */
.ant-layout .ant-layout-sider {
  background: #fafafa;
  border-radius: 8px;
}

/* FOOTER */
.ant-layout .ant-layout-footer {
  padding: 0 !important;
  background: transparent !important;
}
.ant-layout .ant-layout-footer .container .ant-row {
  background: #fafafa;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}
.footerRight > .ant-menu {
  justify-content: end;
}

/* CONTENT */
.spaceWrap {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: start;
}
.spaceWrap .ant-space-item {
  display: flex;
  height: 100%;
}
.spaceWrap .ant-space-item .jobBox {
  border-width: 1px;
  border-color: rgba(155, 121, 41, 0.75);
  border-style: solid;
  background-color: #e2d4ca;
  border-radius: 8px;
  padding: 10px;
  height: 100%;
  align-items: stretch;
}

.pagination {
  margin-top: 10px;
}
